body > main {
    margin: auto;
    width:1260px;
    font-family: 'Roboto Mono', monospace;

}

section {
    float: left;
    height: 400px;
    width: 400px;
    margin-right: 20px;
    margin-bottom: 10px;
}

div {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 2%;
    height: 2%;
    float: left;
    font-size: 5px;
    text-align: center;
}

.right{
    box-shadow: inset 2px 0px 0px 0px #000000;
}

.bottom{
    box-shadow: inset 0 -2px 0px 0px #000000;
}

.empty{
    border:none;
}